body {
    font-family: sans-serif;
    color: white;
    background-color: black;
}

.page {
    box-sizing: border-box;
}

.metric {
    font-size: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-rules-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33,33,33,0.7);
    width: 100%;
    height: 0;
    opacity: 0;
    margin: 0 auto;
    padding: 2vw;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.form-rules-container.active {
    height: 100%;
    opacity: 1;
}

.form-rules-container fieldset {
    margin: 0 auto 10px auto;
    padding: 1vw;
}

.form-rules-container label {
    display: block;
    margin: 0 0 3px 0;
}

.form-rules-container input[type="text"] {
    display: block;
}

.rules {

}

.rule {
    display: block;
    background-color: rgba(255,255,255,0.1);
    margin: 0 0 10px 0;
    padding: 5px 6px;
}

.rule .field {
    display: inline-block;
    margin: 0 10px 0 0;
}